.backgroundImg {
  width: 100 vh;
  background-image: url("https://www.filepicker.io/api/file/4pwDDXkTdFPzLDrX7Egc");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
